@import url(font.css);
* {
  --primary-color: rgb(39, 26, 97);
  --sub-menu-color: rgb(86, 51, 125);
  --sub-menu-hover-color: rgb(39, 26, 97);
  --hover-color: rgb(223, 91, 166);
  --primary-img-size: 500px;
  text-align: center;
}
main {
  background: white;
}
h4 {
  font-size: x-large;
}

.background {
  width: 100%;
  height: 20vh;
  object-fit: cover;
  image-rendering: auto;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  margin-bottom: 3%;
}
.introduction {
  line-height: 32px;
  margin-bottom: 5%;
}

.introduction button {
  background: rgb(86, 51, 125);
  margin-top: 48px;
  height: 48px;
  text-transform: capitalize;
  border-radius: 24px;
  padding: 10px 30px;

  border: none;
}
.introduction button a {
  font-size: 16px;
  font-family: "Josefin Sans", sans-serif;
  color: white;
}
.introduction button:hover {
  cursor: pointer;
}
.content-box {
  display: flex;
  flex-direction: column;
  margin-left: 7%;
  margin-right: 7%;
  margin-bottom: 5%;
}
.top-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1%;
  margin-bottom: 1%;
  width: 100%;
}
.left-box {
  text-align: center;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  border-radius: 8px;
  padding: 25px;
}
.right-box {
  text-align: center;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
  border-radius: 8px;
  padding: 25px;
}
.bottom-box {
  /* margin: 0 0 0; */
  text-align: center;
  background: white;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;

  border-radius: 8px;
  padding: 25px;
}
.core-value {
  margin-bottom: 5%;
}
.first-image {
  height: 400px;
  width: 100%;
  object-fit: contain;
}
.icons {
  gap: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.offices {
  height: fit-content;
}
.offices h4 {
  margin-bottom: 3%;
}
.specific {
  text-transform: uppercase;
}
.specific img {
  margin-bottom: 7%;
}
.specific img:hover {
  cursor: pointer;
}

@media screen and (max-width: 767px) {
  .top-box {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .content-box {
    gap: 1rem;
  }

  .icons {
    gap: 3%;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .first-image {
    height: 200px;
    width: 100%;
    object-fit: contain;
  }
}
