* {
	--card-background: rgb(255, 255, 255);
	--primary-color: rgb(39, 26, 97);
  --sub-menu-color: rgb(86, 51, 125);
  --sub-menu-hover-color: rgb(39, 26, 97);
  --hover-color:  #8c55cb;
}

a {
	text-decoration: none;
	color: black;
}
main {
	display: flex;
	flex-direction: column;
	align-items: center;

	background-color: rgb(242, 242, 242);
}
.carousel img {
	width: 100%;
	height: 70vh;
	object-fit: cover;
	image-rendering: auto;
	box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
}
.product {
    position: relative;
    overflow: hidden;
    padding: 0 0;
	width: 90%;
	/* max-width: 1188px; */
    margin: 2rem 6rem;
	background-color: white;
}
.product-category {
	display: flex;
	align-items: center;
	margin: 0 3rem;
	font-size: 30px;
	font-weight: 500;
	overflow: hidden;
	text-transform: capitalize;
}
  
.product-category h2 {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 400;
	font-size: 30px;
	letter-spacing: 3px;
	margin: 30px auto;
	/* margin-left: 40px; */
	flex: 1;
}

.product-category a{
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 200;
	font-size: 1rem;
	letter-spacing: 2px;
	/* margin-top: 4rem; */
	color: rgb(6, 85, 188);
}

.product-category a:hover{
	color: red;

}

.product-container {
	padding: 0 4vw;
	display: flex;
	overflow-x: scroll;
	scroll-behavior: smooth;
}

.product-container::-webkit-scrollbar {
	display: none;
}

.product-card {
	flex: 0 0 auto;
	width: 250px;
	height: auto;
	margin-right: 40px;
	overflow: hidden;
}

.product-image {
	position: relative;
	width: 100%;
	height: 20rem;
	overflow: hidden;
	transition: transform 0.5s;
}
.product-card:hover .product-image{
	opacity: 0.7;
	/* scale: 1.5; */
	/* transform:translateY(5%) */
}
.product-thumb {
	width: 100%;
	height: 100%;
	object-fit: contain;
	background-color: white;
}

.card-btn {
	position: absolute;
	bottom: 10px;
	left: 50%;
	transform: translateX(-50%);
	padding: 10px;
	width: 90%;
	text-transform: capitalize;
	border: none;
	outline: none;
	background: #fff;
	border-radius: 5px;
	transition: 0.5s;
	cursor: pointer;
	opacity: 0;
}


.card-btn:hover {
	background: #ff7d7d;
	color: #fff;
}

.product-info {
	width: 100%;
	height: fit-content;
	padding-top: 10px;
	display: block;
	transition: transform 0.5s;
	background-color: rgb(161, 157, 188);
}

.product-info p {
	margin: 0 0.5rem;
}

.product-card:hover .product-info{
	transform: translateY(-60%);
	background-color: rgba(255, 255, 255, 0.5);
}

.product-card-name {
    font-size: 1rem;
    font-weight: 900;
    margin-bottom: 0.5rem;
	width: 100%;
	text-overflow: ellipsis;
	white-space: nowrap;
  	overflow: hidden;
}

.product-short-description {
	width: 100%;
	height: 20px;
	line-height: 20px;
	overflow: hidden;
	opacity: 0.5;
	text-transform: capitalize;
	margin: 5px 0;
}

.product-card-price {
    font-weight: 600;
    font-size: 1rem;
    color: var(--primary-color);
}
#use svg, #non-use svg{
	width: 1.5rem;

}
#non-use svg{
	filter: invert(0.5);

}
.actual-price {
	margin-left: 20px;
	opacity: 0.5;
	text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 3rem;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    /* background-color: red; */
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
	left: 0;
	transform: rotate(180deg);
}

.nxt-btn {
	right: 0;
}


.pre-btn:hover img,
.nxt-btn:hover img {
	transform:scale(1.5);
	/* Another option use scale 3D */
}

.collection-container {
	width: 100%;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 10px;
}

.collection {
	position: relative;
}

.collection img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.collection p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
	color: #fff;
	font-size: 50px;
	text-transform: capitalize;
}

.collection:nth-child(3) {
	grid-column: span 2;
	margin-bottom: 10px;
}
