body, html {
  width: 100vw;
  height: 100vh;
}

* {
  /* box-sizing: border-box; */
  font-family: "Secular One", sans-serif;
  /* font-size: large; */
}

.myAccount {
    width: 100vw;
    height: 100vh;
    font-size: large;
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
}

.myAccount-background {
    position: relative;
    height: 100vh;
    width: 100%;   
    content: "";
    background-image: url('../assets/image/backgroundLogin.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
}


.info-section {
    width: fit-content;
    height: fit-content;
    background-color: white;
    border-radius: 8px;
    /* display: flex;
    flex-direction: row; */
}                    

/* Profile image */

.profile-img {
    width: 100%;
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar-image {
    position: relative;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    object-fit: cover;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, 
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
    transition: 0.2s;
}

#image-hover {
    position: absolute;
    display: none;
    width: 8em;
    height: 8em;
    border-radius: 50%;
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.7); /* Black w/opacity/see-through */
    justify-content: center;
    align-items: center;
    color: white;
    
}

#image-hover img {
    width: 48px;
    height: 48px;
    object-fit: cover;
}


.info-wrapper {
    border-radius: 16px;
    width: fit-content;
    height: fit-content;
    /* background-color: white; */
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 2vh 0 2vh 0; 
}

.info-wrapper form {
    display: flex;
    flex-direction: column;
    padding: 2vw;
}

.info-row {
    height: 4vh;
    display: flex;
    flex-direction: row;
    margin: 4% 0 4% 0;
}

.info-label {
    width: 8vw;
}
.username-field {
    width: 16vw;
}

.input-field {
    width: 16vw;
    padding: 2%;
    border: none;
    border-radius: 10px;
    border: solid 2px transparent;
    background: #f1f1f1;
    overflow: hidden;
    font-size: large;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
      rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.button-wrapper {
    height: 12vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.edit-profile-button {
    border-radius: 25px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 0.8);
    width: 12vw;
    height: 4vh;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 0.9em;
    font-weight: 600;   
    transition: 0.4s;
    background-color: white;
}

.edit-profile-button:hover {
    transform: scale(1.1);
}

.input-field:focus {
    outline: none;
    border: solid 2px gray;
}

@media screen and (max-width: 1023px) {
    .myAccount {
        height: 200vh;
    }

    .info-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 90vw;
        height: fit-content;
    }
    
    .info-wrapper {
        width: 90vw;
        height: fit-content;
        padding: 0;
        align-items: center;
        
    }

    .info-wrapper form {
        height: fit-content;
        padding: 0;
    }

    .info-row {
        flex-direction: column;
        height: 8vh;
        margin-bottom: 8%
    }

    .input-field {
        width: 80vw;
    }

    .info-label {
        width: auto;
        margin-bottom: 4%;
        /* margin: 4% 0 4% 0; */
    }
    
    .button-wrapper {
        height: 16vh;
    }

    .edit-profile-button {
        width: 70vw;
    }
}