@import url(font.css);
* {
  --primary-color: rgb(39, 26, 97);
  --sub-menu-color: rgb(86, 51, 125);
  --sub-menu-hover-color: rgb(39, 26, 97);
  --hover-color: rgb(223, 91, 166);
  --primary-img-size: 500px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.breadcumb {
  display: inline-block;
  padding: 1% 0 1% 0;
}

.breadcumb a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.breadcumb a:hover {
  text-decoration: underline;
  color: var(--sub-menu-hover-color);
}

main {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  align-items: center;
}

img {
  object-fit: contain;
}

.product-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background: white;
  width: 100%;
}

.product-page-img {
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
}
.product-page-img:after {
  content: "";
  display: table;
  clear: both;
}
.main-img {
  width: 50%;
  height: auto;
  aspect-ratio: 1;
  margin-bottom: 0.1rem;
  background-color: white;
}
.main-img:hover {
  border: solid 3px var(--primary-color);
}

.sub-img-row {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  justify-content: center;
}

.sub-img-row img {
  --scale-index: 0.32;
  width: calc(var(--scale-index) * var(--primary-img-size));
  height: calc(var(--scale-index) * var(--primary-img-size));
  border: 2.5px;
  border-style: solid;
  border-image: linear-gradient(45deg, #9795ef, #f9c5d1) 1;
  margin-left: 1.5rem;
  opacity: 0.7;
  transition: 0.2s;
}
.sub-img-row img:hover {
  opacity: 1;
  border-style: solid;
  border-image: linear-gradient(45deg, #f9c5d1, #9795ef) 1;
  cursor: pointer;
}

/* Close button for images if needed */
/* .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
} */

.product-page-buy {
  position: relative;
  display: flex;
  width: 30%;
  flex-direction: column;
}
.sidebar {
  top: 0;
  position: sticky;
  bottom: 0;
}
/* Infor wrapper */
.product-info-wrapper {
  flex: 4;
  margin-left: 5%;
  margin-bottom: 5%;
}

.product-page-buy p {
  padding: 0.5rem 0;
}

.product-info-name {
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5rem;
  font-weight: bold;
}
.product-info-vendor {
  font-weight: bold;
}
.product-info-vendor a {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  font-style: none;
  text-decoration: none;
}
.product-info-vendor a:hover {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  font-style: none;
  text-decoration: underline;
}

.product-info-price {
  color: #df0e0e;
  font-size: x-large;
  font-weight: bold;
}
.product-info-quantity {
  font-size: medium;
  font-weight: bold;
}
.quantity-input {
  width: 15%;
  padding: 12px;
  margin: 8px 0;
  border: 2px solid rgb(111, 110, 110);
  border-radius: 4px;
  box-sizing: border-box;
}
.cate {
  font-weight: 500;
  font-family: "Josefin Sans", sans-serif;
  text-transform: uppercase;
  color: rgb(39, 26, 97);
}
.cate:hover {
  color: red;
  cursor: pointer;
}

/* Button container */

.product-button-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 5%;
  flex: 1;
}

.product-page-button {
  border: none;
  height: 4rem;
  font-size: 1.5rem;
  width: 250px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: 0.2s ease-in-out;
  margin: 0 0 5% 5%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
}

#buy-now-btn {
  height: 3rem;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(209, 0, 125);
}

#add-cart-btn {
  height: 3rem;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(209, 0, 125);
}
.buy {
  font-family: "Josefin Sans", sans-serif;
}
.add {
  font-family: "Josefin Sans", sans-serif;
}

#buy-now-btn:hover {
  background-color: rgb(232, 214, 225);
  color: rgb(50, 49, 49);
  font-size: 0;
  justify-content: center;
}

#buy-now-btn .buyicon {
  height: 90%;
  width: 30%;
  padding-left: 0;
}
#add-cart-btn .addicon {
  height: 100%;
  width: 30%;
  padding-left: 0;
}

#add-cart-btn:hover {
  background-color: rgb(232, 214, 225);
  color: rgb(50, 49, 49);
  font-size: 0;
  justify-content: center;
}

.product-info-sold {
  font-weight: bold;
}
.product-info-stock {
  font-weight: bold;
}
.product-info-rating {
  font-weight: bold;
}

/* product DESC */

.product-desc {
  padding: 2%;
  box-shadow: -50px -50px 0 -45px black, 50px 50px 0 -45px black;
  width: 80%;
  margin-top: 2rem;
  background-color: rgb(228, 224, 239);
  margin-bottom: 3%;
}

.product-desc h2 {
  text-align: center;
  margin: 1rem 2rem;
  font-family: "Josefin Sans", sans-serif;
}

.product-desc p {
  font-size: 1.2rem;
  margin: 1rem 2rem;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  html,
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  .product-button-container {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: center;
  }
  #buy-now-btn {
    margin-left: 0%;
  }
  #add-cart-btn {
    margin-left: 1%;
  }
  #buy-now-btn,
  #add-cart-btn {
    height: 3rem;
    width: 17rem;
    padding-left: 5%;
    padding-right: 5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(209, 0, 125);
  }

  .product-page {
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    justify-content: center;
  }
  .product-page-img {
    height: 70%;
    padding: 1rem 0 0 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sub-img-row {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-bottom: 0.2rem;
  }
  .sub-img-row img {
    --scale-index: 0.25;
    width: calc(var(--scale-index) * var(--primary-img-size));
    height: calc(var(--scale-index) * var(--primary-img-size));
    border: solid 3px transparent;
    border-style: solid;
    border-color: gray;
    margin-left: 0;
  }
  .product-page-buy {
    width: 100%;
    display: flex;
  }
  .product-desc {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .product-desc h2 {
    margin: 1rem 2rem;
    text-align: center;
  }
  .product-desc p {
    margin: 1rem 2rem;
    text-align: left;
  }
}

@media screen and (max-width: 767px) {
  html,
  body {
    width: 100vw;
    overflow-x: hidden;
  }
  .product-page {
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    justify-content: center;
  }
  .product-page-img {
    height: 70%;
    padding: 1rem 0 0 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sub-img-row {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-bottom: 0.2rem;
  }
  .sub-img-row img {
    --scale-index: 0.25;
    width: calc(var(--scale-index) * var(--primary-img-size));
    height: calc(var(--scale-index) * var(--primary-img-size));
    border: solid 3px transparent;
    border-style: solid;
    border-color: gray;
    margin-left: 0;
  }
  .product-page-buy {
    width: 100%;
    display: flex;
  }
  .product-desc {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
  .product-desc h2 {
    margin: 1rem 2rem;
    text-align: center;
  }
  .product-desc p {
    margin: 1rem 2rem;
    text-align: left;
  }
  .product-button-container {
    display: flex;
    flex-direction: row;
    margin-left: 0;
    justify-content: center;
  }
  #buy-now-btn {
    margin-left: 0%;
  }
  #add-cart-btn {
    margin-left: 1%;
  }
}
