@import url(font.css);
* {
  --primary-color: rgb(39, 26, 97);
  --sub-menu-color: rgb(86, 51, 125);
  --sub-menu-hover-color: rgb(39, 26, 97);
  --hover-color: rgb(223, 91, 166);
  --primary-img-size: 500px;
}

.breadcumb {
  width: 80%;
}

.breadcumb a {
  text-decoration: none;
  color: var(--primary-color);
  font-weight: bold;
}

.breadcumb a:hover {
  text-decoration: underline;
  color: var(--sub-menu-hover-color);
}

main {
  display: flex;
  flex-direction: column;
  background-color: rgb(245, 245, 245);
  align-items: center;
}

img {
  object-fit: contain;
}

.product-page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2rem;
  background: white;
  width: 100%;
}

.product-page-img {
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  display: flex;
  width: 70%;
  flex-direction: column;
  justify-content: center;
}
.product-page-img:after {
  content: "";
  display: table;
  clear: both;
}
.main-img {
  width: 50%;
  height: auto;
  aspect-ratio: 1;
  margin-bottom: 0.1rem;
  background-color: white;
}
.main-img:hover {
  border: solid 3px var(--primary-color);
}

.sub-img-row {
  width: 70%;
  height: auto;
  display: flex;
  flex-direction: row;
  margin-bottom: 5%;
  justify-content: center;
}

.sub-img-row img {
  --scale-index: 0.32;
  width: calc(var(--scale-index) * var(--primary-img-size));
  height: calc(var(--scale-index) * var(--primary-img-size));
  background-color: white;
  border: solid 3px transparent;
  border-style: solid;
  border-color: gray;
  margin-left: 1.5rem;
  opacity: 0.8;
}
.sub-img-row img:hover {
  border: solid 3px var(--primary-color);
  cursor: pointer;
  opacity: 1;
}

/* Close button for images if needed */
/* .closebtn {
  position: absolute;
  top: 10px;
  right: 15px;
  color: white;
  font-size: 35px;
  cursor: pointer;
} */

.product-page-buy {
  position: relative;
  display: flex;
  width: 30%;
  flex-direction: column;
}
.sidebar {
  top: 0;
  position: sticky;
  bottom: 0;
}
/* Infor wrapper */
.product-info-wrapper {
  flex: 4;
  margin-left: 5%;
  margin-bottom: 5%;
}

.product-page-buy p {
  padding: 0.5rem 0;
}

.product-info-name {
  font-family: "Noto Sans", sans-serif;
  text-transform: uppercase;
  margin-left: 5%;
  margin-right: 5%;
  font-size: 1.5rem;
  font-weight: bold;
}
.product-info-vendor {
  font-weight: bold;
}
.product-info-vendor a {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  font-style: none;
  text-decoration: none;
}
.product-info-vendor a:hover {
  color: var(--primary-color);
  font-weight: bold;
  cursor: pointer;
  font-style: none;
  text-decoration: underline;
}

.product-info-price {
  font-size: medium;
  font-weight: bold;
}
.cate {
  font-weight: bold;
  font-family: "Crimson Text", serif;
  text-transform: uppercase;
}
.cate:hover {
  color: red;
  cursor: pointer;
}

/* Button container */

.product-button-container {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-left: 5%;
  flex: 1;
}

.product-page-button {
  border: none;
  height: 4rem;
  font-size: 1.5rem;
  width: 250px;
  cursor: pointer;
  font-weight: bold;
  color: white;
  transition: 0.2s ease-in-out;
  margin: 0 0 5% 5%;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.8);
}

#buy-now-btn {
  height: 3rem;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(209, 0, 125);
}

#add-cart-btn {
  height: 3rem;
  padding-left: 5%;
  padding-right: 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(209, 0, 125);
}

#buy-now-btn:hover {
  background-color: rgb(232, 214, 225);
  color: rgb(50, 49, 49);
}

#add-cart-btn:hover {
  background-color: rgb(232, 214, 225);
  color: rgb(50, 49, 49);
}
.product-info-sold {
  font-weight: bold;
}
.product-info-stock {
  font-weight: bold;
}
.product-info-rating {
  font-weight: bold;
}

/* product DESC */

.product-desc {
  width: 80%;
  margin-top: 2rem;
  background-color: white;
}

.product-desc h2 {
  margin: 1rem 2rem;
}

.product-desc p {
  font-size: 1.2rem;
  margin: 1rem 2rem;
}
@media screen and (max-width: 768px) {
  .product-page {
    margin-top: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    width: 100%;
    justify-content: center;
  }
  .product-page-img {
    height: 70%;
    padding: 1rem 0 0 0;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .sub-img-row {
    display: flex;
    flex-direction: row;
    width: 50%;
    margin-bottom: 0.2rem;
  }
  .sub-img-row img {
    --scale-index: 0.25;
    width: calc(var(--scale-index) * var(--primary-img-size));
    height: calc(var(--scale-index) * var(--primary-img-size));
    border: solid 3px transparent;
    border-style: solid;
    border-color: gray;
    margin-left: 0;
  }
  .product-page-buy {
    width: 100%;
    display: flex;
  }
  .product-desc {
    margin-top: 1rem;
    margin-bottom: 1rem;
    background-color: rgb(245, 245, 245);
  }
  .product-desc h2 {
    margin: 1rem 2rem;
    text-align: center;
  }
  .product-desc p {
    margin: 1rem 2rem;
    text-align: left;
  }
}
