* {
    --primary-color: rgb(39, 26, 97);
  --sub-menu-color: rgb(86, 51, 125);
  --sub-menu-hover-color: rgb(39, 26, 97);
  --hover-color: rgb(223, 91, 166);
    --primary-img-size: 500px;
}

.breadcumb {
    width: 80%;
}

.breadcumb a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: bold;
}

.breadcumb a:hover {
    text-decoration: underline;
    color: var(--sub-menu-hover-color);
}

main {
    display: flex;
    flex-direction: column;
    background-color: rgb(245, 245, 245);
    align-items: center;
}

img {
    object-fit: contain;
}

.product-page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 2rem;
    background: white;
    width: 80%;
    padding: 1rem 0;
}

.product-page-img {
    display: flex;
    width: 40%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.main-img {
    width: var(--primary-img-size);
    height: var(--primary-img-size);
    aspect-ratio: 1;
    margin-bottom: 2rem;
    background-color: white;
}
.sub-img {
    width: var(--primary-img-size);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sub-img img {
    --scale-index: 0.32;
    width: calc(var(--scale-index) * var(--primary-img-size));
    height: calc(var(--scale-index)  * var(--primary-img-size));
    background-color: white;
    border: solid 3px transparent;
}
.sub-img img:hover {
    border: solid 3px var(--primary-color);
}

.product-page-buy {
    display: flex;
    width: 60%;
    flex-direction: column
}
/* Infor wrapper */
.product-info-wrapper {
    flex: 4;
    margin-left: 5%;
}

.product-page-buy p  {
    padding: 0.5rem 0;
}

.product-info-name {
    font-size: 1.5rem;
    font-weight: bold;
}

.product-info-vendor a {
    color: var(--primary-color);
    font-weight: bold;
    cursor: pointer;
}

.product-info-price {
    font-size: 2.5rem;
    font-weight: bold;
}

/* Button container */

.product-button-container {
    display: flex;
    width: 80%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1;
    margin-left: 5%;
}

.product-page-button {
    border: none;
    height: 4rem;
    font-size: 1.5rem;
    width: 250px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    transition: 0.3s ease-in-out;
}

#buy-now-btn {
    background-color: var(--primary-color);
}

#add-cart-btn {
    background-color: var(--sub-menu-color);
}

#buy-now-btn:hover {
    background-color: var(--hover-color);
}

#add-cart-btn:hover {
    background-color: var(--hover-color);
}


/* product DESC */

.product-desc {
    width: 80%;
    margin-top: 2rem;
    background-color: white;
}

.product-desc h2 {
    margin: 1rem 2rem
}

.product-desc p {
    font-size: 1.2rem;
    margin: 1rem 2rem;
}