@import "login.css";
/* @import "signupforall"; */
/* @import "signupDemo"; */

body, html {
    margin: 0;
    padding: 0;
}

.login-signup-poster {
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
}

.signup {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#option {
    padding: 0 8%;
    position: absolute;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 2vw;
}

.tab {
    width: 100vw;
    height: 60vh;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.4s;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.8);
    background-color: white;
}
#vendor-tab .tab-heading {
    background-color: rgb(86, 45, 139);
}

#customer-tab .tab-heading {
    background-color: rgb(166, 78, 139);
}

#shipper-tab .tab-heading {
    background-color: rgb(40, 29, 95);
}

.tab-heading {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    width: 100%;
    height: 8vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    box-shadow: 0 1px 8px rgb(0 0 0 / 0.8);
}
.tab-title {
    font-size: large;
}

.main-content {
    width: 100%;
    height: 36vh;
    list-style: none;
}


.tab-body li {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0.8em 2em;
    /* border-top: 1px solid gray; */
    border-bottom: 1px solid rgb(222, 225, 227);
}

.tab-body li p {
    font-size: medium;
}

.tick {
    display: block;
    width: 0.9em;
    height: 0.9em;
    object-fit: cover;
}
.button-wrapper {
    height: 12vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signup-button {
    border-radius: 25px;
    box-shadow: 0 1px 8px rgb(0 0 0 / 0.8);
    width: 20vw;
    height: 6vh;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    font-size: 0.9em;
    font-weight: 600;   
    transition: 0.4s;
    background-color: white;
}

.signup-button:hover {
    transform: scale(1.1);
}

.tab:hover {
    transform: scale(1.1);
}

@media screen and (max-width: 500px){
    .login-signup-poster {
        height: 200vh;
    }
    #signup {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4vh
    }
    .tab {
        width: 92vw;
        height: 200vh;
    }

    .signup-button {
        width: 50vw;
    }
   
}

@media screen and (max-height: 677px){
    .login-signup-poster {
        height: 200vh;
    }
    #signup {
        width: 100vw;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    #option {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 4vh
    }
    .tab {
        width: 92vw;
        height: 200vh;
    }

    .signup-button {
        width: 50vw;
    }
   
}